.scrollgeneric {
	line-height: 1px;
	font-size: 1px;
	position: absolute;
	top: 0;
	left: 0
}

.vscrollerbase,.hscrollerbase {
	width: 0px;
	height: 0px
}

.vscrollerbar,.hscrollerbar {
	background-position: 0 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ieOpacity)";
	filter: alpha(opacity=20);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
	opacity: 0.2;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	-webkit-transition-property: opacity;
	transition-property: opacity;
	-moz-transition-timing-function: ease-in;
	-o-transition-timing-function: ease-in;
	-webkit-transition-timing-function: ease-in;
	transition-timing-function: ease-in;
	-moz-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	-webkit-transition-duration: 0.2s;
	transition-duration: 0.2s
}

.vscrollerbar:hover,.hscrollerbar:hover {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ieOpacity)";
	filter: alpha(opacity=30);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
	opacity: 0.3
}

.vscrollerbar:active,.hscrollerbar:active {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=$ieOpacity)";
	filter: alpha(opacity=40);
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
	opacity: 0.4
}

.vscrollerbar {
	width: 10px;
	margin-left: -10px
}

.hscrollerbar {
	height: 10px;
	margin-top: -10px
}

.vscrollerbar {
	background-image: url("images/scrollbar//scrollbar_black_v.png");
	background-repeat: repeat-y
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .vscrollerbar {
		background-image:url("../../../synohdpack/images/scrollbar/images/scrollbar//scrollbar_black_v.png?v=06421220171638173");
		background-size: 10px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .vscrollerbar {
		background-image:url("../../../synohdpack/images/scrollbar/images/scrollbar//scrollbar_black_v.png?v=06421220171638173");
		background-size: 10px;
		outline: 1px green dashed
	}
}

.router .vscrollerbar {
	background-image: url("images/scrollbar/router/scrollbar_black_v.png")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .router .vscrollerbar {
		background-image:url("../../../synohdpack/images/scrollbar/images/scrollbar/router/scrollbar_black_v.png?v=06421220171638173");
		background-size: 10px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .router .vscrollerbar {
		background-image:url("../../../synohdpack/images/scrollbar/images/scrollbar/router/scrollbar_black_v.png?v=06421220171638173");
		background-size: 10px;
		outline: 1px green dashed
	}
}

.white-scrollerbar .vscrollerbar {
	background-image: url("images/scrollbar//scrollbar_white_v.png")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .white-scrollerbar .vscrollerbar {
		background-image:url("../../../synohdpack/images/scrollbar/images/scrollbar//scrollbar_white_v.png?v=06421220171638173");
		background-size: 10px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .white-scrollerbar .vscrollerbar {
		background-image:url("../../../synohdpack/images/scrollbar/images/scrollbar//scrollbar_white_v.png?v=06421220171638173");
		background-size: 10px;
		outline: 1px green dashed
	}
}

.router .white-scrollerbar .vscrollerbar {
	background-image: url("images/scrollbar/router/scrollbar_white_v.png")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .router .white-scrollerbar .vscrollerbar {
		background-image:url("../../../synohdpack/images/scrollbar/images/scrollbar/router/scrollbar_white_v.png?v=06421220171638173");
		background-size: 10px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .router .white-scrollerbar .vscrollerbar {
		background-image:url("../../../synohdpack/images/scrollbar/images/scrollbar/router/scrollbar_white_v.png?v=06421220171638173");
		background-size: 10px;
		outline: 1px green dashed
	}
}

.hscrollerbar {
	background-image: url("images/scrollbar//scrollbar_black_h.png");
	background-repeat: repeat-y
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .hscrollerbar {
		background-image:url("../../../synohdpack/images/scrollbar/images/scrollbar//scrollbar_black_h.png?v=06421220171638173");
		background-size: 10px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .hscrollerbar {
		background-image:url("../../../synohdpack/images/scrollbar/images/scrollbar//scrollbar_black_h.png?v=06421220171638173");
		background-size: 10px;
		outline: 1px green dashed
	}
}

.router .hscrollerbar {
	background-image: url("images/scrollbar/router/scrollbar_black_h.png")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .router .hscrollerbar {
		background-image:url("../../../synohdpack/images/scrollbar/images/scrollbar/router/scrollbar_black_h.png?v=06421220171638173");
		background-size: 10px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .router .hscrollerbar {
		background-image:url("../../../synohdpack/images/scrollbar/images/scrollbar/router/scrollbar_black_h.png?v=06421220171638173");
		background-size: 10px;
		outline: 1px green dashed
	}
}

.white-scrollerbar .hscrollerbar {
	background-image: url("images/scrollbar//scrollbar_white_h.png")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .white-scrollerbar .hscrollerbar {
		background-image:url("../../../synohdpack/images/scrollbar/images/scrollbar//scrollbar_white_h.png?v=06421220171638173");
		background-size: 10px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .white-scrollerbar .hscrollerbar {
		background-image:url("../../../synohdpack/images/scrollbar/images/scrollbar//scrollbar_white_h.png?v=06421220171638173");
		background-size: 10px;
		outline: 1px green dashed
	}
}

.router .white-scrollerbar .hscrollerbar {
	background-image: url("images/scrollbar/router/scrollbar_white_h.png")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .router .white-scrollerbar .hscrollerbar {
		background-image:url("../../../synohdpack/images/scrollbar/images/scrollbar/router/scrollbar_white_h.png?v=06421220171638173");
		background-size: 10px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .router .white-scrollerbar .hscrollerbar {
		background-image:url("../../../synohdpack/images/scrollbar/images/scrollbar/router/scrollbar_white_h.png?v=06421220171638173");
		background-size: 10px;
		outline: 1px green dashed
	}
}

.flexcrollactive {
	outline: none
}

.vscrollerbar {
	background-image: url("contrib/scrollbar/images/scrollbar//scrollbar_black_v.png");
	background-repeat: repeat-y
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .vscrollerbar {
		background-image:url("contrib/router//scrollbar_black_v.png?v=06421220171638173");
		background-size: 10px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .vscrollerbar {
		background-image:url("contrib/router//scrollbar_black_v.png?v=06421220171638173");
		background-size: 10px;
		outline: 1px green dashed
	}
}

.router .vscrollerbar {
	background-image: url("contrib/scrollbar/images/scrollbar/router/scrollbar_black_v.png")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .router .vscrollerbar {
		background-image:url("contrib/router/router/scrollbar_black_v.png?v=06421220171638173");
		background-size: 10px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .router .vscrollerbar {
		background-image:url("contrib/router/router/scrollbar_black_v.png?v=06421220171638173");
		background-size: 10px;
		outline: 1px green dashed
	}
}

.white-scrollerbar .vscrollerbar {
	background-image: url("contrib/scrollbar/images/scrollbar//scrollbar_white_v.png")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .white-scrollerbar .vscrollerbar {
		background-image:url("contrib/router//scrollbar_white_v.png?v=06421220171638173");
		background-size: 10px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .white-scrollerbar .vscrollerbar {
		background-image:url("contrib/router//scrollbar_white_v.png?v=06421220171638173");
		background-size: 10px;
		outline: 1px green dashed
	}
}

.router .white-scrollerbar .vscrollerbar {
	background-image: url("contrib/scrollbar/images/scrollbar/router/scrollbar_white_v.png")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .router .white-scrollerbar .vscrollerbar {
		background-image:url("contrib/router/router/scrollbar_white_v.png?v=06421220171638173");
		background-size: 10px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .router .white-scrollerbar .vscrollerbar {
		background-image:url("contrib/router/router/scrollbar_white_v.png?v=06421220171638173");
		background-size: 10px;
		outline: 1px green dashed
	}
}

.hscrollerbar {
	background-image: url("contrib/scrollbar/images/scrollbar//scrollbar_black_h.png");
	background-repeat: repeat-y
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .hscrollerbar {
		background-image:url("contrib/router//scrollbar_black_h.png?v=06421220171638173");
		background-size: 10px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .hscrollerbar {
		background-image:url("contrib/router//scrollbar_black_h.png?v=06421220171638173");
		background-size: 10px;
		outline: 1px green dashed
	}
}

.router .hscrollerbar {
	background-image: url("contrib/scrollbar/images/scrollbar/router/scrollbar_black_h.png")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .router .hscrollerbar {
		background-image:url("contrib/router/router/scrollbar_black_h.png?v=06421220171638173");
		background-size: 10px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .router .hscrollerbar {
		background-image:url("contrib/router/router/scrollbar_black_h.png?v=06421220171638173");
		background-size: 10px;
		outline: 1px green dashed
	}
}

.white-scrollerbar .hscrollerbar {
	background-image: url("contrib/scrollbar/images/scrollbar//scrollbar_white_h.png")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .white-scrollerbar .hscrollerbar {
		background-image:url("contrib/router//scrollbar_white_h.png?v=06421220171638173");
		background-size: 10px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .white-scrollerbar .hscrollerbar {
		background-image:url("contrib/router//scrollbar_white_h.png?v=06421220171638173");
		background-size: 10px;
		outline: 1px green dashed
	}
}

.router .white-scrollerbar .hscrollerbar {
	background-image: url("contrib/scrollbar/images/scrollbar/router/scrollbar_white_h.png")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .router .white-scrollerbar .hscrollerbar {
		background-image:url("contrib/router/router/scrollbar_white_h.png?v=06421220171638173");
		background-size: 10px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .router .white-scrollerbar .hscrollerbar {
		background-image:url("contrib/router/router/scrollbar_white_h.png?v=06421220171638173");
		background-size: 10px;
		outline: 1px green dashed
	}
}

body {
	color: #505a64;
	font: 10px verdana;
	background-color: #E2E6EB;
	background-image: url("images/1x/bg_banner.jpg?v=06421220171638173");
	background-position: -1280px 0px;
	background-size: 3840px 156px;
	background-repeat: no-repeat;
}

body,.ext-el-mask-msg div,.x-tab-strip span.x-tab-strip-text,.x-form-field,.x-form-grow-sizer,.x-form-item,.x-form-invalid-msg,.x-fieldset legend,.x-toolbar td,.x-toolbar span,.x-toolbar input,.x-toolbar div,.x-toolbar select,.x-toolbar label,.x-grid-group-hd div.x-grid-group-title,.x-grid-empty,.x-tip .x-tip-mc,.x-tip .x-tip-header-text,.x-tip .x-tip-body,.x-window-mc,.x-window-dlg .ext-mb-textarea {
	font-family: verdana,tahoma,arial,helvetica,sans-serif
}

.x-tip {
	box-shadow: 0 1px 4px rgba(0,0,0,0.25);
	border: solid 1px;
	border-color: #fff;
	border-color: rgba(255,255,255,0.75);
	background: #000;
	background: rgba(0,0,0,0.75)
}

.x-tip .x-tip-ml,.x-tip .x-tip-mr,.x-tip .x-tip-mc,.x-tip .x-tip-tl,.x-tip .x-tip-tr,.x-tip .x-tip-tc,.x-tip .x-tip-bl,.x-tip .x-tip-br,.x-tip .x-tip-bc {
	padding: 0px;
	background-image: none;
	background-color: transparent
}

.x-tip .x-tip-bwrap {
	padding: 3px 10px
}

.x-tip .x-tip-body,.x-tip .x-tip-body span,.x-tip .x-tip-body div {
	font-size: 12px !important;
	color: #FFFFFF !important
}

.axis path,.axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges
}

.bar1 {
	fill: #1377B6
}

.bar2 {
	fill: #58AA2B
}

.x.axis path {
	display: none
}

.y.axis path {
	display: none
}

.y.axis line {
	stroke: #CED4DA;
	stroke-dasharray: 2,2
}

.x.axis line {
	stroke: #CED4DA
}

.line {
	fill: none;
	stroke: #2A588C;
	stroke-width: 2px
}

.syno-traffic-report-panel-style {
	margin: 16px 14px 16px 14px
}

.syno-traffic-report-panel-style .x-panel-body {
	border: 0px
}

.banner-background {
	height: 156px;
	width: 100%;
	position: absolute;
	background-image: url("images/1x/bg_banner_pattern.png?v=06421220171638173")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .banner-background {
		background-image:url("images/2x/bg_banner_pattern.png?v=06421220171638173");
		background-size: 10px 10px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .banner-background {
		background-image:url("images/2x/bg_banner_pattern.png?v=06421220171638173");
		background-size: 10px 10px;
		outline: 1px green dashed
	}
}

.banner {
	width: 1280px;
	height: 108px;
	font-family: "roboto black", Verdana;
	color: #FFFFFF;
	line-height: 40px;
	font-size: 30px;
	padding: 24px 0px;
	margin: 0 auto;
	margin-bottom: 30px;
	background-image: url("images/1x/logo_synology.png?v=06421220171638173");
	background-position: calc(100% - 32px) 24px;
	background-repeat: no-repeat
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .banner {
		background-image:url("images/2x/logo_synology.png?v=06421220171638173");
		background-size: 132px 40px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .banner {
		background-image:url("images/2x/logo_synology.png?v=06421220171638173");
		background-size: 132px 40px;
		outline: 1px green dashed
	}
}

.login-analysis-times {
	line-height: 48px;
	font-family: Verdana;
	font-size: 12px;
	color: #505a64;
	float: left;
	padding-left: 44px;
}

.login-analysis-medium-text {
	line-height: 48px;
	font-family: Verdana;
	font-size: 12px;
	color: #505a64;
	float: right;
	margin-right: 14px;
	padding-right: 8px;
	padding-left: 8px;
}

.login-analysis-high-text {
	line-height: 48px;
	font-family: Verdana;
	font-size: 12px;
	color: #505a64;
	float: right;
	padding-right: 50px;
	padding-left: 8px;
}

.banner .banner-info {
	height: 20px;
	color: #a7c4e2;
	font-family: "roboto medium", Verdana;
	font-size: 12px;
}

.banner .banner-info-hostname {
	line-height: 20px;
	float: left;
}

.banner .banner-info-separator {
	line-height: 20px;
	float: left;
	opacity: 0.8;
	padding-left: 10px;
	padding-right: 10px;
}

.banner .banner-info-gentime {
	line-height: 20px;
	float: left;
}

.banner .banner-date {
	line-height: 28px;
	color: #8FA7BF;
	font-family: "roboto black", Verdana;
	font-size: 14px;
	margin-top: 20px
}

.banner .banner-date .static-date {
	float: left;
	font-size: 18px;
	color: #cbdbec
}

.banner .banner-date .generate-date {
	float: right
}

.banner .TRS.hidden {
	visibility: hidden
}

.wrapper {
	width: 1280px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	background-color: #E2E6EB
}

.wrapper.hidden {
	visibility: hidden
}

.wrapper a {
	text-decoration: none;
	color: inherit
}

.wrapper .blue {
	color: #2A588C
}

.wrapper .percentage-col {
	text-overflow: ellipsis
}

.wrapper .percentage-col .left,.wrapper .percentage-col .right {
	height: 8px;
	margin-top: 9px;
	float: left
}

.wrapper .percentage-col .left {
	background-color: #2A588C
}

.wrapper .percentage-col .right {
	background-color: #E2E6EB
}

.wrapper .title-append {
	font-size: 12px;
	float: right;
	font-weight: normal
}

.wrapper .divider {
	border-width: 0px 1px 0px 0px;
	border-color: #E2E6EB;
	border-style: solid;
	height: 96px;
	float: left;
	margin: 14px 0px 14px 0px
}

.wrapper .block-lv-1 {
	width: 1226px;
	margin-left: 32px
}

.wrapper .block-lv-1>.title {
	color: #2A588C;
	line-height: 28px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 20px;
	margin-top: 14px;
	margin-bottom: 12px
}

.wrapper .block-lv-2-t-1,.wrapper .block-lv-2-t-2 {
	border: 1px solid #B9C2CB;
	border-radius: 3px;
	margin-bottom: 16px;
	display: inline-block;
	background-color: #FFFFFF;
	padding-left: 0px;
	padding-right: 0px;
}

.wrapper .block-lv-2-t-1 {
	padding-bottom: 0px
}

.wrapper .block-lv-2-t-2 {
	padding-bottom: 14px
}


.wrapper .block-lv-2-t-1.block-lv-2-t-1,.wrapper .block-lv-2-t-2.block-lv-2-t-1 {
	width: 603px
}

.wrapper .block-lv-2-t-1.block-lv-2-t-2,.wrapper .block-lv-2-t-2.block-lv-2-t-2 {
	width: 1224px
}

.wrapper .block-lv-2-t-1 .title,.wrapper .block-lv-2-t-2 .title {
	background-color: #F8FAFC;
	color: #3C4650;
	line-height: 44px;
	font-family: Verdana;
	font-weight: bold;
	font-size: 14px;
	height: 44px;
	border-radius: 2px 2px 0 0;
	padding-left: 16px;
	padding-right: 16px
}

.wrapper .summary .block-lv-2-t-1:nth-child(even) {
	margin-right: 16px
}

.wrapper .summary .block-lv-2-t-1,.wrapper .summary .block-lv-2-t-2 {
	height: 170px;
	float: left
}

.wrapper .summary .block-lv-2-t-1:hover,.wrapper .summary .block-lv-2-t-2:hover {
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3)
}

.wrapper .summary .block-lv-2-t-1 .out-block,.wrapper .summary .block-lv-2-t-2 .out-block {
	float: left
}

.wrapper .summary .block-lv-2-t-1 .out-block .data-title,.wrapper .summary .block-lv-2-t-2 .out-block .data-title {
	font-family: Verdana;
	font-size: 12px;
	color: #505a64;
	text-align: center;
	line-height: 20px
}

.wrapper .summary .block-lv-2-t-1 .out-block .data-scale,.wrapper .summary .block-lv-2-t-2 .out-block .data-scale {
	font-size: 48px;
	color: #31629B;
	line-height: 70px;
	font-family: Verdana;
	text-align: center
}

.wrapper .summary .block-lv-2-t-1 .out-block .data-little-scale,.wrapper .summary .block-lv-2-t-2 .out-block .data-little-scale {
	font-size: 20px;
	color: #2A588C;
	line-height: 70px;
	font-family: Verdana;
	text-align: center;
	text-overflow: ellipsis;
	font-weight: bold;
	overflow: hidden;
	height: 70px;
	white-space: nowrap
}

.wrapper .summary .block-lv-2-t-1 .out-block .data-quantify,.wrapper .summary .block-lv-2-t-2 .out-block .data-quantify {
	font-family: Verdana;
	text-align: center;
	font-size: 12px
}

.wrapper .summary .block-lv-2-t-1 .out-block .inner-block,.wrapper .summary .block-lv-2-t-2 .out-block .inner-block {
	float: left;
	margin: 14px 16px 14px 16px;
}

.wrapper .summary .block-lv-2-t-1 .out-block .inner-block-3,.wrapper .summary .block-lv-2-t-2 .out-block .inner-block-3 {
	float: left;
	width: 168px;
	margin: 14px 16px 14px 16px
}

.wrapper .summary .block-lv-2-t-1 .out-block .inner-block {
	width: 268.5px
}

.wrapper .summary .block-lv-2-t-1 .out-block .inner-block-3 {
	width: 168px
}

.wrapper .summary .block-lv-2-t-2 .out-block .inner-block {
	width: 579px
}

.wrapper .summary .block-lv-2-t-2 .out-block .inner-block-3 {
	width: 375px
}

.wrapper .devices {
	padding-top: 200px
}

.wrapper .devices .x-grid3-cell-inner {
	line-height: 37px !important;
	margin: 2px 0px -2px 0px
}

.wrapper .devices .percentage-col .right,.wrapper .devices .percentage-col .left {
	margin-top: 15px
}

.wrapper .devices .device-empty-list {
	background-image: url("images/1x/no_item.png?v=06421220171638173");
	background-repeat: no-repeat;
	background-position: center;
	height: 245px
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .wrapper .devices .device-empty-list {
		background-image:url("images/2x/no_item.png?v=06421220171638173");
		background-size: 176px 120px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .wrapper .devices .device-empty-list {
		background-image:url("images/2x/no_item.png?v=06421220171638173");
		background-size: 176px 120px;
		outline: 1px green dashed
	}
}

.wrapper .devices .device-empty-list .msg {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	cursor: default;
	display: block;
	margin: auto;
	text-align: center;
	padding-top: 190px;
	font-size: 14px;
	line-height: 14px;
	color: #c7ccd4
}

.wrapper .realtime-grid {
	padding-top: 10px
}

.wrapper .realtime-grid .x-grid3-cell-inner {
	line-height: 37px !important;
	margin: 2px 0px -2px 0px
}

.wrapper .realtime-grid .percentage-col .right,.wrapper .realtime-grid .percentage-col .left {
	margin-top: 15px
}

.wrapper .realtime-grid .device-empty-list {
	background-image: url("images/1x/no_item.png?v=06421220171638173");
	background-repeat: no-repeat;
	background-position: center;
	height: 245px
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .wrapper .realtime-grid .device-empty-list {
		background-image:url("images/2x/no_item.png?v=06421220171638173");
		background-size: 176px 120px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .wrapper .realtime-grid .device-empty-list {
		background-image:url("images/2x/no_item.png?v=06421220171638173");
		background-size: 176px 120px;
		outline: 1px green dashed
	}
}

.wrapper .realtime-grid .device-empty-list .msg {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	cursor: default;
	display: block;
	margin: auto;
	text-align: center;
	padding-top: 190px;
	font-size: 14px;
	line-height: 14px;
	color: #c7ccd4
}

.wrapper .traffic {
	padding-top: 1500px
}

.wrapper .traffic .block-lv-2-t-1:nth-child(even) {
	margin-right: 16px
}

.wrapper .traffic .block-lv-2-t-1 {
	height: 375px;
	float: left
}

.wrapper .traffic .block-lv-2-t-2 {
	float: left;
	height: 245px;
	padding-left: 2px
}

.wrapper .app .block-lv-2-t-1 {
	height: 312px;
	width: 1224px
}

.wrapper .app .block-lv-2-t-2 {
	height: 228px
}

.wrapper .app .app-catgeory-pie-chart {
	float: left;
	height: 250px;
	width: 250px;
	margin-left: 20px;
	margin-top: 9px
}

.wrapper .country div#destination-country .world-map-ct {
	margin: 14px 20px 0px 16px;
	width: 920px;
	border: 1px solid #CED4DA;
	background-color: #FAFBFD
}

.wrapper .country div#destination-country .world-map-ct .world-map {
	position: relative;
	width: 920px;
	height: 350px;
	margin: 0px auto 0px auto
}

.wrapper .country div#destination-country .world-map-ct .world-map path.datamaps-subunit:hover {
	opacity: 0.7
}

.wrapper .country div#destination-country .world-map-ct .world-map .hoverinfo {
	background-color: rgba(0,0,0,0.75);
	box-shadow: 0px 1px 4px rgba(0,0,0,0.25);
	padding: 3px 10px 3px 10px;
	border: #fff 1px solid;
	color: #FFFFFF
}

.wrapper .country div#destination-country .legend-ct {
	display: inline-block;
	width: 236px;
	height: 204px;
	float: right;
	margin-top: 90px;
	margin-right: 16px;
	font-family: Verdana;
	font-size: 12px;
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	cursor: default
}

.wrapper .country div#destination-country .legend-ct .legend,.wrapper .country div#destination-country .legend-ct .legend-title {
	line-height: 20px;
	margin-bottom: 8px
}

.wrapper .country div#destination-country .legend-ct .legend {
	height: 20px
}

.wrapper .country div#destination-country .legend-ct .legend span {
	float: left
}

.wrapper .country div#destination-country .legend-ct .legend-title {
	font-weight: bold
}

.wrapper .country div#destination-country .legend-ct .rect {
	width: 14px;
	height: 14px;
	display: inline-block;
	margin-top: 3px;
	margin-right: 6px
}

.wrapper .country div#destination-country .legend-ct .rect.level0 {
	background-color: #D4DEE8
}

.wrapper .country div#destination-country .legend-ct .rect.level1 {
	background-color: #AABCD1
}

.wrapper .country div#destination-country .legend-ct .rect.level2 {
	background-color: #7F9BBA
}

.wrapper .country div#destination-country .legend-ct .rect.level3 {
	background-color: #5579A3
}

.wrapper .country div#destination-country .legend-ct .rect.level4 {
	background-color: #2A588C
}

.wrapper .country div#destination-country .legend-ct .unit {
	text-align: right
}

.wrapper .country .block-lv-2-t-1:nth-child(odd) {
	margin-right: 16px
}

.wrapper .country .block-lv-2-t-1 {
	float: left;
	height: 258px
}

.wrapper .country .block-lv-2-t-2 {
	height: 412px
}

.wrapper .country .top-country .footnote {
	line-height: 20px;
	padding-bottom: 16px;
	padding-top: 16px;
	margin-right: 14px;
	margin-left: 14px;
	float: left
}

.wrapper .country .destination-empty-list .msg {
	user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
	cursor: default;
	display: block;
	margin: auto;
	text-align: center;
	font-size: 18px;
	height: 232px;
	line-height: 196px;
	color: #c7ccd4
}

.wrapper .summary-icon {
	width: 20px;
	height: 20px;
	background-image: url("images/1x/icon_uldl.png?v=06421220171638173");
	margin-right: 4px;
	float: left
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .wrapper .summary-icon {
		background-image:url("images/2x/icon_uldl.png?v=06421220171638173");
		background-size: 20px 40px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .wrapper .summary-icon {
		background-image:url("images/2x/icon_uldl.png?v=06421220171638173");
		background-size: 20px 40px;
		outline: 1px green dashed
	}
}

.wrapper .summary-icon.download-png {
	background-position: 0 -20px
}

.wrapper .summary-icon.wired-png {
	background-image: url("images/1x/icon_wifiwired.png?v=06421220171638173");
	background-position: 0 -20px
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .wrapper .summary-icon.wired-png {
		background-image:url("images/2x/icon_wifiwired.png?v=06421220171638173");
		background-size: 20px 40px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .wrapper .summary-icon.wired-png {
		background-image:url("images/2x/icon_wifiwired.png?v=06421220171638173");
		background-size: 20px 40px;
		outline: 1px green dashed
	}
}

.wrapper .summary-icon.wireless-png {
	background-image: url("images/1x/icon_wifiwired.png?v=06421220171638173")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .wrapper .summary-icon.wireless-png {
		background-image:url("images/2x/icon_wifiwired.png?v=06421220171638173");
		background-size: 20px 40px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .wrapper .summary-icon.wireless-png {
		background-image:url("images/2x/icon_wifiwired.png?v=06421220171638173");
		background-size: 20px 40px;
		outline: 1px green dashed
	}
}

.wrapper .client-icon {
	width: 24px;
	height: 24px;
	margin: 7px 10px 6px 2px;
	float: left;
	background-repeat: no-repeat
}

.wrapper .client-icon.computer {
	background-position: 0 0%;
	background-image: url("images/1x/client_icon.png?v=06421220171638173")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .wrapper .client-icon.computer {
		background-image:url("images/2x/client_icon.png?v=06421220171638173");
		background-size: 24px 1152px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .wrapper .client-icon.computer {
		background-image:url("images/2x/client_icon.png?v=06421220171638173");
		background-size: 24px 1152px;
		outline: 1px green dashed
	}
}

.wrapper .client-icon.notebook {
	background-position: 0 8.51064%;
	background-image: url("images/1x/client_icon.png?v=06421220171638173")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .wrapper .client-icon.notebook {
		background-image:url("images/2x/client_icon.png?v=06421220171638173");
		background-size: 24px 1152px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .wrapper .client-icon.notebook {
		background-image:url("images/2x/client_icon.png?v=06421220171638173");
		background-size: 24px 1152px;
		outline: 1px green dashed
	}
}

.wrapper .client-icon.tablet {
	background-position: 0 17.02128%;
	background-image: url("images/1x/client_icon.png?v=06421220171638173")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .wrapper .client-icon.tablet {
		background-image:url("images/2x/client_icon.png?v=06421220171638173");
		background-size: 24px 1152px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .wrapper .client-icon.tablet {
		background-image:url("images/2x/client_icon.png?v=06421220171638173");
		background-size: 24px 1152px;
		outline: 1px green dashed
	}
}

.wrapper .client-icon.phone {
	background-position: 0 25.53191%;
	background-image: url("images/1x/client_icon.png?v=06421220171638173")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .wrapper .client-icon.phone {
		background-image:url("images/2x/client_icon.png?v=06421220171638173");
		background-size: 24px 1152px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .wrapper .client-icon.phone {
		background-image:url("images/2x/client_icon.png?v=06421220171638173");
		background-size: 24px 1152px;
		outline: 1px green dashed
	}
}

.wrapper .client-icon.tv {
	background-position: 0 34.04255%;
	background-image: url("images/1x/client_icon.png?v=06421220171638173")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .wrapper .client-icon.tv {
		background-image:url("images/2x/client_icon.png?v=06421220171638173");
		background-size: 24px 1152px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .wrapper .client-icon.tv {
		background-image:url("images/2x/client_icon.png?v=06421220171638173");
		background-size: 24px 1152px;
		outline: 1px green dashed
	}
}

.wrapper .client-icon.dlna {
	background-position: 0 42.55319%;
	background-image: url("images/1x/client_icon.png?v=06421220171638173")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .wrapper .client-icon.dlna {
		background-image:url("images/2x/client_icon.png?v=06421220171638173");
		background-size: 24px 1152px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .wrapper .client-icon.dlna {
		background-image:url("images/2x/client_icon.png?v=06421220171638173");
		background-size: 24px 1152px;
		outline: 1px green dashed
	}
}

.wrapper .client-icon.gamebox {
	background-position: 0 51.06383%;
	background-image: url("images/1x/client_icon.png?v=06421220171638173")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .wrapper .client-icon.gamebox {
		background-image:url("images/2x/client_icon.png?v=06421220171638173");
		background-size: 24px 1152px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .wrapper .client-icon.gamebox {
		background-image:url("images/2x/client_icon.png?v=06421220171638173");
		background-size: 24px 1152px;
		outline: 1px green dashed
	}
}

.wrapper .client-icon.ipcam {
	background-position: 0 59.57447%;
	background-image: url("images/1x/client_icon.png?v=06421220171638173")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .wrapper .client-icon.ipcam {
		background-image:url("images/2x/client_icon.png?v=06421220171638173");
		background-size: 24px 1152px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .wrapper .client-icon.ipcam {
		background-image:url("images/2x/client_icon.png?v=06421220171638173");
		background-size: 24px 1152px;
		outline: 1px green dashed
	}
}

.wrapper .client-icon.others {
	background-position: 0 68.08511%;
	background-image: url("images/1x/client_icon.png?v=06421220171638173")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .wrapper .client-icon.others {
		background-image:url("images/2x/client_icon.png?v=06421220171638173");
		background-size: 24px 1152px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .wrapper .client-icon.others {
		background-image:url("images/2x/client_icon.png?v=06421220171638173");
		background-size: 24px 1152px;
		outline: 1px green dashed
	}
}

.wrapper .client-icon.nas {
	background-position: 0 76.59574%;
	background-image: url("images/1x/client_icon.png?v=06421220171638173")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .wrapper .client-icon.nas {
		background-image:url("images/2x/client_icon.png?v=06421220171638173");
		background-size: 24px 1152px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .wrapper .client-icon.nas {
		background-image:url("images/2x/client_icon.png?v=06421220171638173");
		background-size: 24px 1152px;
		outline: 1px green dashed
	}
}

.wrapper .client-icon.router {
	background-position: 0 85.10638%;
	background-image: url("images/1x/client_icon.png?v=06421220171638173")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .wrapper .client-icon.router {
		background-image:url("images/2x/client_icon.png?v=06421220171638173");
		background-size: 24px 1152px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .wrapper .client-icon.router {
		background-image:url("images/2x/client_icon.png?v=06421220171638173");
		background-size: 24px 1152px;
		outline: 1px green dashed
	}
}

.wrapper .client-icon.printer {
	background-position: 0 93.61702%;
	background-image: url("images/1x/client_icon.png?v=06421220171638173")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .wrapper .client-icon.printer {
		background-image:url("images/2x/client_icon.png?v=06421220171638173");
		background-size: 24px 1152px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .wrapper .client-icon.printer {
		background-image:url("images/2x/client_icon.png?v=06421220171638173");
		background-size: 24px 1152px;
		outline: 1px green dashed
	}
}

.syno-traffic-report-gridpanel-style div {
	font-size: 12px
}

.syno-traffic-report-gridpanel-style .x-panel-ml,.syno-traffic-report-gridpanel-style .x-panel-mr {
	background-image: none;
	padding: 0px
}

.syno-traffic-report-gridpanel-style .x-panel-mc {
	padding: 0px
}

.syno-traffic-report-gridpanel-style .x-panel-tl {
	border: 0px
}

.syno-traffic-report-gridpanel-style .x-panel-header {
	border-bottom: 0px dashed transparent !important;
	margin-bottom: 0px !important
}

.syno-traffic-report-gridpanel-style .x-panel-tbar .x-toolbar-layout-ct,.syno-traffic-report-gridpanel-style .x-panel-tbar-noheader .x-toolbar-layout-ct,.syno-traffic-report-gridpanel-style .x-panel-tbar-noborder .x-toolbar-layout-ct {
	padding: 0px 0px 8px 0px;
	padding-bottom: 8px;
	background-image: none;
	background-color: transparent;
	border: 0px
}

.syno-traffic-report-gridpanel-style.x-grid-panel .x-panel-bwrap .x-panel-body {
	border: 0px
}

.syno-traffic-report-gridpanel-style.x-grid-panel .x-panel-bwrap .x-panel-body .x-grid3-scroller {
	padding-right: 10px
}

.syno-traffic-report-gridpanel-style.x-grid-panel .x-panel-bwrap .x-panel-body .x-grid3 {
	background-color: transparent;
	border-top: solid 1px grid-panelwrapper-pagingtoolbar-border
}

.syno-traffic-report-gridpanel-style .x-grid3-header {
	background-image: none;
	background-color: transparent;
	padding-top: 0px;
	height: 26px
}

.syno-traffic-report-gridpanel-style .x-grid3-header-offset {
	border-top: 1px solid #D0D0D0;
	border-bottom: 1px solid #D0D0D0;
	color: #2A588C
}

.syno-traffic-report-gridpanel-style .x-grid3-hd {
	color: #2A588C;
	height: 26px;
	border-left: 0px;
	border-right: solid 1px #D0D0D0
}

.syno-traffic-report-gridpanel-style .x-grid3-hd .x-grid3-hd-inner {
	height: 26px;
	line-height: 26px;
	background-color: transparent;
	padding: 0 8px 0 8px !important
}

.syno-traffic-report-gridpanel-style .x-grid3-hd.x-grid3-hd-over .x-grid3-hd-inner,.syno-traffic-report-gridpanel-style .x-grid3-hd.x-grid3-hd-menu-open .x-grid3-hd-inner {
	background-image: none;
	background-color: transparent;
	color: #2A588C
}

.syno-traffic-report-gridpanel-style .x-grid3-hd.x-grid3-hd-over .x-grid3-hd-inner .x-grid3-hd-btn,.syno-traffic-report-gridpanel-style .x-grid3-hd.x-grid3-hd-menu-open .x-grid3-hd-inner .x-grid3-hd-btn {
	border-color: #EDEDED;
	background-image: none;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: -26px 0px;
	width: 26px;
	height: 26px !important
}

.syno-traffic-report-gridpanel-style .x-grid3-hd.x-grid3-hd-over .x-grid3-hd-inner {
	color: #1563C7;
	border-color: #EDEDED
}

.syno-traffic-report-gridpanel-style .x-grid3-hd.x-grid3-menu-open .x-grid3-hd-inner {
	color: #264F71;
	border-color: #EDEDED
}

.syno-traffic-report-gridpanel-style .x-grid3-hd.sort-desc .x-grid3-hd-inner,.syno-traffic-report-gridpanel-style .x-grid3-hd.sort-asc .x-grid3-hd-inner {
	background-image: none;
	background-color: transparent
}

.syno-traffic-report-gridpanel-style .x-grid3-hd.sort-desc .x-grid3-hd-inner .x-grid3-sort-icon,.syno-traffic-report-gridpanel-style .x-grid3-hd.sort-asc .x-grid3-hd-inner .x-grid3-sort-icon {
	background-color: transparent;
	background-repeat: no-repeat;
	margin-left: 4px;
	width: 6px;
	height: 26px;
	vertical-align: top
}

.syno-traffic-report-gridpanel-style .x-grid3-hd.sort-desc .x-grid3-hd-inner .x-grid3-sort-icon {
	background-position: 0px 0px;
	background-size: 6px 168px;
	background-image: url("images/1x/bt_grid_dropdown.png?v=06421220171638173")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .syno-traffic-report-gridpanel-style .x-grid3-hd.sort-desc .x-grid3-hd-inner .x-grid3-sort-icon {
		background-image:url("images/2x/bt_grid_dropdown.png?v=06421220171638173");
		background-size: 6px 168px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .syno-traffic-report-gridpanel-style .x-grid3-hd.sort-desc .x-grid3-hd-inner .x-grid3-sort-icon {
		background-image:url("images/2x/bt_grid_dropdown.png?v=06421220171638173");
		background-size: 6px 168px;
		outline: 1px green dashed
	}
}

.syno-traffic-report-gridpanel-style .x-grid3-hd.sort-desc.x-grid3-hd-over .x-grid3-hd-inner .x-grid3-sort-icon {
	background-position: 0px 0px;
	background-size: 6px 168px;
	background-image: url("images/1x/bt_grid_dropdown.png?v=06421220171638173")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .syno-traffic-report-gridpanel-style .x-grid3-hd.sort-desc.x-grid3-hd-over .x-grid3-hd-inner .x-grid3-sort-icon {
		background-image:url("images/2x/bt_grid_dropdown.png?v=06421220171638173");
		background-size: 6px 168px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .syno-traffic-report-gridpanel-style .x-grid3-hd.sort-desc.x-grid3-hd-over .x-grid3-hd-inner .x-grid3-sort-icon {
		background-image:url("images/2x/bt_grid_dropdown.png?v=06421220171638173");
		background-size: 6px 168px;
		outline: 1px green dashed
	}
}

.syno-traffic-report-gridpanel-style .x-grid3-hd.sort-asc .x-grid3-hd-inner .x-grid3-sort-icon {
	background-position: 0px -84px;
	background-size: 6px 168px;
	background-image: url("images/1x/bt_grid_dropdown.png?v=06421220171638173")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .syno-traffic-report-gridpanel-style .x-grid3-hd.sort-asc .x-grid3-hd-inner .x-grid3-sort-icon {
		background-image:url("images/2x/bt_grid_dropdown.png?v=06421220171638173");
		background-size: 6px 168px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .syno-traffic-report-gridpanel-style .x-grid3-hd.sort-asc .x-grid3-hd-inner .x-grid3-sort-icon {
		background-image:url("images/2x/bt_grid_dropdown.png?v=06421220171638173");
		background-size: 6px 168px;
		outline: 1px green dashed
	}
}

.syno-traffic-report-gridpanel-style .x-grid3-hd.sort-asc.x-grid3-hd-over .x-grid3-hd-inner .x-grid3-sort-icon {
	background-position: 0px -84px;
	background-size: 6px 168px;
	background-image: url("images/1x/bt_grid_dropdown.png?v=06421220171638173")
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpack .syno-traffic-report-gridpanel-style .x-grid3-hd.sort-asc.x-grid3-hd-over .x-grid3-hd-inner .x-grid3-sort-icon {
		background-image:url("images/2x/bt_grid_dropdown.png?v=06421220171638173");
		background-size: 6px 168px
	}
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
	.synohdpackdebug .syno-traffic-report-gridpanel-style .x-grid3-hd.sort-asc.x-grid3-hd-over .x-grid3-hd-inner .x-grid3-sort-icon {
		background-image:url("images/2x/bt_grid_dropdown.png?v=06421220171638173");
		background-size: 6px 168px;
		outline: 1px green dashed
	}
}

.syno-traffic-report-gridpanel-style .x-grid3-row {
	background-color: #FFF;
	border-bottom: 1px solid grid-row;
	border-width: 0 0 1px 0;
	padding-top: 0px
}

.syno-traffic-report-gridpanel-style .x-grid3-row.x-grid3-row-over {
	background-color: #F8FAFC !important;
	background: none
}

.syno-traffic-report-gridpanel-style .x-grid3-row.x-grid3-row-selected {
	background-color: #EEF2F5 !important;
	border-color: #EEF2F5
}

.syno-traffic-report-gridpanel-style .x-grid3-row .x-grid3-cell {
	height: 27px
}

.syno-traffic-report-gridpanel-style .x-grid3-row .x-grid3-cell .x-grid3-cell-inner {
	line-height: 27px;
	padding: 0 8px 0 8px
}

.syno-traffic-report-gridpanel-style .x-grid-group .x-grid-group-body .x-grid3-cell-first .x-grid3-cell-inner {
	padding-left: 28px
}

.syno-traffic-report-gridpanel-style .x-grid-group .x-grid-group-hd {
	background-image: none;
	height: 27px;
	border-bottom: 1px solid grid-row;
	padding-top: 0px
}

.syno-traffic-report-gridpanel-style .x-grid-group .x-grid-group-hd div.x-grid-group-title {
	background-position: 2px -72px;
	padding: 0 0 0 28px;
	font-size: 12px;
	color: #6B95B2;
	height: 28px;
	line-height: 28px
}

.syno-traffic-report-gridpanel-style .x-grid-group .syno-ux-grid-group-hd-over div.x-grid-group-title {
	color: #5C9DCC;
	background-position: 2px -96px
}

.syno-traffic-report-gridpanel-style .x-grid-group .syno-ux-grid-group-hd-click div.x-grid-group-title {
	color: #5383A6;
	background-position: 2px -120px
}

.syno-traffic-report-gridpanel-style .x-grid-group .x-grid-group-body.x-grid3-row-over {
	border: none
}

.traffic-overview-event-grid .error {
	color: #C43A2A
}

.traffic-overview-event-grid .warning {
	color: #EB7E12
}

.cell-outer {
	display:table;
}

.cell-middle {
	display: table-cell;
	vertical-align: middle;
	padding-left: 8px;
	padding-right: 8px;
}

.red_circle {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background-color: #dd4040;
}

.orange_circle {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background-color: #f47f17;
}

.yellow_circle {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background-color: #f1c207;
}

.green_circle {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background-color: #00bfa5;
}

.gray_circle {
	width: 8px;
	height: 8px;
	border-radius: 4px;
	background-color: #c2c4c6;
}

.show-btn {
	font: verdana;
	font-size: 12px;
	color: #0678d0;
	cursor: pointer;
	text-align: center;
	line-height: 24px;
}

.show-btn:hover {
	color: #0492ff;
}

.yellow_square {
	width: 14px;
	height: 14px;
	margin-top: 17px;
	float: right;
	background-color: #f1c207;
}

.orange_square {
	width: 14px;
	height: 14px;
	margin-top: 17px;
	float: right;
	background-color: #f47f17;
}

.red_square {
	width: 14px;
	height: 14px;
	margin-top: 17px;
	float: right;
	background-color: #dd4040;
}

.grid line {
	stroke: #ced4da;
	stroke-dasharray: 2,2;
}

.grid path {
	stroke-width: 0;
}

.up-icon {
	background-position: 0px -72px;
	background-size: 6px 96px;
	background-image: url("images/1x/bt_more_up.png?v=06421220171638173");
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 6px;
	width: 6px;
	height: 24px;
	vertical-align: top;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
.up-icon {
	background-position: 0px -72px;
	background-size: 6px 96px;
	background-image: url("images/2x/bt_more_up.png?v=06421220171638173");
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 6px;
	width: 6px;
	height: 24px;
	vertical-align: top;
}
}

.down-icon {
	background-position: 0px 0px;
	background-size: 6px 96px;
	background-image: url("images/1x/bt_more_down.png?v=06421220171638173");
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 6px;
	width: 6px;
	height: 24px;
	vertical-align: top;
}

@media (-webkit-min-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-resolution: 144dpi) {
.down-icon {
	background-position: 0px 0px;
	background-size: 6px 96px;
	background-image: url("images/2x/bt_more_down.png?v=06421220171638173");
	background-repeat: no-repeat;
	display: inline-block;
	margin-left: 6px;
	width: 6px;
	height: 24px;
	vertical-align: top;
}
}
