server_name _;

{{> /usr/syno/share/nginx/X-Accel}}

include app.d/www.*.conf;
include app.d/alias.*.conf;
include /usr/syno/share/nginx/conf.d/www.*.conf;
include conf.d/www.*.conf;

{{! package disable page's logo}}
location = /webdefault/images/logo.jpg {
    alias /usr/syno/share/nginx/logo.jpg;
}

{{> /usr/syno/share/nginx/error_page}}
{{> /usr/syno/share/nginx/LetsEncrypt}}
{{! for webstation super location block}}
{{! should be placed at the end of this server block}}
{{! but before redirect 80 to 5000 location}}
include app.d/.location.webstation.conf*;

location / {
    rewrite ^ / redirect;
}
