# author: Business Platform Team
ENV{SUBSYSTEM}=="net", ENV{ACTION}=="change", ENV{SYNO_SFP}=="unsupported", RUN+="/usr/syno/bin/syno_scemd_connector --sfp_info_check"
