.syno-diskremap .x-window-header {
	padding-left: 0px!important;
}

.sas-exp-fw-update.sds-window-v5.x-window-dlg .syno-mb-progress-status {
	position: absolute;
	right: 20px;
	top: 51px;
	line-height: 16px;
}

.sas-exp-fw-update.sds-window-v5 .x-progress-inner {
	background: #D2DCE6;
	border-radius: 3px;
	overflow: hidden;
	height: 16px;
	width: 440px;
}

.sas-exp-fw-update.sds-window-v5.x-window-dlg .ext-mb-content {
	line-height: 20px;
}